.b-header {
	font-size: 26px;
	padding: 60px 40px 20px;
}




.b-calendar {
	padding: 30px 60px;
	width: 860px;
}



.b-switcher {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-left: -10px;
}
.b-switcher__mode {
	display: inline-block;
	padding: 7px 10px 5px;
	margin-right: 8px;
}
.b-switcher__mode_active {
	background: #ddd;
	border-radius: 8px;
}
.b-switcher__mode_active .b-local,
.b-switcher__mode_active .b-local:hover {
	border-bottom: 0;
	color: #000 !important;
	cursor: default;
}






.b-month {
	padding-top: 60px;
}
.b-month:first-child {
	padding-top: 0;
}
.b-month__name {
	padding: 0 0 10px;
	font-size: 22px;
}







.b-day {
	float: left;
	overflow: hidden;
	margin-top: 6px;
	width: 121px;
	height: 150px;
	border-bottom: 1px solid rgba(0, 0, 0, .04);
	border-left: 1px solid rgba(0, 0, 0, .04);
}
.b-day:last-child,
.b-day_sun {
	border-right: 1px solid rgba(0, 0, 0, .04);
}
.b-day_sat,
.b-day_sun {
	background: rgba(0, 0, 0, .03);
	color: red;
}
.b-day_mon {
	clear: both;
}
.b-day_tue:first-child {
	margin-left: 122px;
}
.b-day_wed:first-child {
	margin-left: 244px;
}
.b-day_thu:first-child {
	margin-left: 366px;
}
.b-day_fri:first-child {
	margin-left: 488px;
}
.b-day_sat:first-child {
	margin-left: 610px;
}
.b-day_sun:first-child {
	margin-left: 732px;
}

.b-day__name {
	position: relative;
	padding: 10px;
	background: rgba(255, 244, 147, .7);
	text-align: right;
	line-height: 14px;
}
.b-day__dayofweek {
	font-size: 11px;
}
.b-day__dayofmonth {
	font-size: 14px;
}
.b-day__add-lecture {
	position: absolute;
	left: 4px;
	opacity: .3;
	cursor: pointer;
}
.b-day__add-lecture:hover {
	opacity: 1;
}

.b-day__lectures {
	overflow: auto;
	height: 116px;
	cursor: pointer;
}






.b-lecture {
	padding: 2px;
	border: 1px solid rgba(91, 155, 255, .2);
	border-radius: 3px;
	background: rgba(91, 155, 255, .5);
	color: #333;
	font-size: 10px;
}
.b-lecture:hover,
.b-lecture.b-lecture_active {
	border-color: rgba(91, 155, 255, 1);
	background: rgba(91, 155, 255, .8);
}
.b-lecture_invalid {
	border-color: rgba(202, 202, 202, .5);
	background: rgba(202, 202, 202, .2);
	color: #888;
}
.b-lecture_invalid:hover,
.b-lecture_invalid.b-lecture_active {
	border-color: rgba(202, 202, 202, .8);
	background: rgba(202, 202, 202, .5);
	color: #000;
}

.b-lecture__time_begin {
}
.b-lecture__time_end:before {
	content: '—';
}




.b-form-lecture-edit {
	position: absolute;
	display: none;
	padding: 10px;
	width: 180px;
	border: 1px solid #71a9ff;
	border-radius: 5px;
	background: #a5d3ff;
	-webkit-box-shadow:  0px 10px 30px 10px rgba(0, 0, 0, .2);
	box-shadow:  0px 10px 30px 10px rgba(0, 0, 0, .2);
	font-size: 12px;
}
.b-form__field-wrapper {
	padding-bottom: 4px;
}
.b-form__field-wrapper:last-child {
	padding-bottom: 0;
}
.b-form__field-label {
	display: block;
	vertical-align: top;
	line-height: 16px;
}
.b-form__field-input {
	border: 1px solid rgba(128, 128, 128, .5);
	font-size: 10px;
}
.b-form__field-input_maxwidth {
	width: 100%;
}
.b-form__field-input:invalid {
	background: #ffc7ca;
}
.b-form__field_textarea {
}

.b-form__close {
	position: absolute;
	cursor: pointer;
	top: -7px;
	right: -7px;
	border-radius: 50%;
	background: #fff;
}

.b-form__remove-lecture {
	cursor: pointer;
}






